---
layout: archive
title: "Talks, posters, and abstracts"
permalink: /talks/
header:
  overlay_image: Baltic_blooms.png
  overlay_filter: 0.2 # same as adding an opacity of 0.2 to a black background
  caption: "Universe Today"
  height: 500px
  width: 1200px
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
