---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <span style= "position: relative; left: 128px; color: #332f38; font-size: 13px; font-family: sans-serif-narrow">Bookshelf:</span><br/><a href="https://www.goodreads.com/review/list/150771251?shelf=read" title="Everett Rzeszowski's book recommendations, liked quotes, book clubs, book lists (read shelf)", rel="nofollow"><img style= "position:relative; left:128px" border="0" alt="Everett Rzeszowski's book recommendations, liked quotes, book clubs, book lists (read shelf)" src="https://s.gr-assets.com/images/badge/badge1.jpg"></a>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
